{
    "openapi":"3.0",
    "swagger": "2.0",
    "info": {
        "description": "Api Documentation",
        "version": "1.0",
        "title": "Api Documentation",
        "termsOfService": "urn:tos",
        "contact": {},
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0"
        }
    },
    "host": "abjadiyat-web-api-devops.abjadiyat.com",
    "basePath": "/",
    "tags": [
        {
            "name": "ams-class-controller",
            "description": "Ams Class Controller"
        },
        {
            "name": "ams-school-controller",
            "description": "Ams School Controller"
        },
        {
            "name": "ams-teacher-class-mapping-controller",
            "description": "Ams Teacher Class Mapping Controller"
        },
        {
            "name": "ams-teacher-controller",
            "description": "Ams Teacher Controller"
        },
        {
            "name": "ams-user-authentication-controller",
            "description": "Ams User Authentication Controller"
        },
        {
            "name": "analytics-controller",
            "description": "Analytics Controller"
        },
        {
            "name": "assessment-controller",
            "description": "Assessment Controller"
        },
        {
            "name": "assessment-offline-evaluation-controller",
            "description": "Assessment Offline Evaluation Controller"
        },
        {
            "name": "assessment-offline-lo-controller",
            "description": "Assessment Offline Lo Controller"
        },
        {
            "name": "assessment-progress-controller",
            "description": "Assessment Progress Controller"
        },
        {
            "name": "avatar-controller",
            "description": "Avatar Controller"
        },
        {
            "name": "avatar-image-controller",
            "description": "Avatar Image Controller"
        },
        {
            "name": "baseline-assessment-upload-controller",
            "description": "Baseline Assessment Upload Controller"
        },
        {
            "name": "cache-controller",
            "description": "Cache Controller"
        },
        {
            "name": "cms-controller",
            "description": "Cms Controller"
        },
        {
            "name": "contact-form-controller",
            "description": "Contact Form Controller"
        },
        {
            "name": "content-controller",
            "description": "Operations pertaining to Content in Abjadiyat"
        },
        {
            "name": "content-controller-v-1",
            "description": "Operations pertaining to Content in Abjadiyat"
        },
        {
            "name": "content-theme-controller",
            "description": "Content Theme Controller"
        },
        {
            "name": "curriculum-controller",
            "description": "Curriculum Controller"
        },
        {
            "name": "dashboard-controller",
            "description": "Dashboard Controller"
        },
        {
            "name": "data-migration-controller",
            "description": "Data Migration Controller"
        },
        {
            "name": "default-assignment-controller",
            "description": "Default Assignment Controller"
        },
        {
            "name": "email-sender-controller",
            "description": "Email Sender Controller"
        },
        {
            "name": "file-upload-controller",
            "description": "File Upload Controller"
        },
        {
            "name": "files-upload-controller",
            "description": "Files Upload Controller"
        },
        {
            "name": "firebase-notification-controller",
            "description": "Firebase Notification Controller"
        },
        {
            "name": "free-play-content-controller",
            "description": "Free Play Content Controller"
        },
        {
            "name": "free-play-controller",
            "description": "Free Play Controller"
        },
        {
            "name": "grade-controller",
            "description": "Grade Controller"
        },
        {
            "name": "leader-reports-controller",
            "description": "Leader Reports Controller"
        },
        {
            "name": "learning-objective-controller",
            "description": "Learning Objective Controller"
        },
        {
            "name": "lesson-controller",
            "description": "Lesson Controller"
        },
        {
            "name": "order-controller",
            "description": "Order Controller"
        },
        {
            "name": "plan-class-controller",
            "description": "Plan Class Controller"
        },
        {
            "name": "plan-class-lo-controller",
            "description": "Plan Class Lo Controller"
        },
        {
            "name": "plan-deliverable-controller",
            "description": "Plan Deliverable Controller"
        },
        {
            "name": "plan-pacing-controller",
            "description": "Plan Pacing Controller"
        },
        {
            "name": "product-controller",
            "description": "Operations pertaining to products in Abjadiyat"
        },
        {
            "name": "product-controller-v-1",
            "description": "Operations pertaining to products in Abjadiyat"
        },
        {
            "name": "profile-controller",
            "description": "Operations pertaining to Profiles in Abjadiyat"
        },
        {
            "name": "profile-controller-v-1",
            "description": "Operations pertaining to Profiles in Abjadiyat"
        },
        {
            "name": "publisher-report-controller",
            "description": "Publisher Report Controller"
        },
        {
            "name": "qr-code-controller",
            "description": "QR Code Controller"
        },
        {
            "name": "reports-controller",
            "description": "Reports Controller"
        },
        {
            "name": "reports-controller-v-1",
            "description": "Reports Controller V 1"
        },
        {
            "name": "sms-controller",
            "description": "SMS Controller"
        },
        {
            "name": "student-archived-content-controller",
            "description": "Student Archived Content Controller"
        },
        {
            "name": "student-asset-controller",
            "description": "Student Asset Controller"
        },
        {
            "name": "student-controller",
            "description": "Student Controller"
        },
        {
            "name": "student-device-controller",
            "description": "Student Device Controller"
        },
        {
            "name": "student-linking-controller",
            "description": "Student Linking Controller"
        },
        {
            "name": "student-pin-data-controller",
            "description": "Student Pin Data Controller"
        },
        {
            "name": "subject-controller",
            "description": "Subject Controller"
        },
        {
            "name": "subscription-controller",
            "description": "Subscription Controller"
        },
        {
            "name": "teacher-bulk-registration-controller",
            "description": "Teacher Bulk Registration Controller"
        },
        {
            "name": "teacher-controller",
            "description": "Teacher Controller"
        },
        {
            "name": "teacher-username-password-auth-controller",
            "description": "Teacher Username Password Auth Controller"
        },
        {
            "name": "user-account-controller",
            "description": "User Account Controller"
        },
        {
            "name": "user-controller",
            "description": "Operations pertaining to Users in Abjadiyat"
        },
        {
            "name": "user-controller-v-1",
            "description": "Operations pertaining to Users in Abjadiyat"
        },
        {
            "name": "user-device-controller",
            "description": "User Device Controller"
        },
        {
            "name": "user-pin-controller",
            "description": "User Pin Controller"
        },
        {
            "name": "web-subscription-controller",
            "description": "Web Subscription Controller"
        },
        {
            "name": "web-user-controller",
            "description": "Web User Controller"
        }
    ],
    "paths": {
        "/": {
            "get": {
                "tags": [
                    "user-device-controller"
                ],
                "summary": "getUserDevices",
                "operationId": "getUserDevicesUsingGET",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "appVersion",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "emailNotificationFilter.frequencyDay",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "emailNotificationFilter.jobId",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "emailNotificationFilter.jobName",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "frequencyDay",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "operatingSystem",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "IOS",
                            "ANDROID",
                            "UNKNOWN"
                        ]
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "page",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "profileFilter.maxPoints",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "profileFilter.minPoints",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "profileFilter.profileId",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "pushNotificationFilter.frequencyDay",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "pushNotificationFilter.jobId",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "pushNotificationFilter.jobName",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "size",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "sortBy",
                        "in": "query",
                        "description": "sortBy",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "sortDirection",
                        "in": "query",
                        "description": "sortDirection",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "textSearch",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "unityVersion",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.emailNotificationSchedulerProcess.description",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.emailNotificationSchedulerProcess.jobId",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "userFilter.emailNotificationSchedulerProcess.jobName",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.emailNotificationSchedulerProcess.retryCount",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "userFilter.emailNotificationSchedulerProcess.scheduledTime",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.emailNotificationSchedulerProcess.status",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.emailNotificationSchedulerProcess.updatedTime",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "userFilter.frequencyDay",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "userFilter.isActive",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "userFilter.smsNotificationSchedulerProcess.description",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.smsNotificationSchedulerProcess.jobId",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "userFilter.smsNotificationSchedulerProcess.jobName",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.smsNotificationSchedulerProcess.retryCount",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "userFilter.smsNotificationSchedulerProcess.scheduledTime",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.smsNotificationSchedulerProcess.status",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.smsNotificationSchedulerProcess.updatedTime",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "userFilter.status",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "userFilter.users[0].auth_token",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].createdAt",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].email",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].facebookId",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "userFilter.users[0].hasReferred",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "userFilter.users[0].id",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "userFilter.users[0].lastName",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].mobileNumber",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].name",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].notParent",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "userFilter.users[0].notRegistered",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "userFilter.users[0].parent",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "userFilter.users[0].registered",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "userFilter.users[0].schoolLeader",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "userFilter.users[0].schoolTeacher",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "userFilter.users[0].status",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "userFilter.users[0].systemAdmin",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "userFilter.users[0].teacher.avtarImageUrl",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].teacher.city",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].teacher.createdAt",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "userFilter.users[0].teacher.id",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "userFilter.users[0].teacher.isActive",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "userFilter.users[0].teacher.learningArea.code",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].teacher.learningArea.id",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "userFilter.users[0].teacher.learningArea.isActive",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "userFilter.users[0].teacher.learningArea.locales[0].id",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "userFilter.users[0].teacher.learningArea.locales[0].locale.id",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "userFilter.users[0].teacher.learningArea.locales[0].locale.name",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].teacher.learningArea.locales[0].name",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].teacher.learningArea.name",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].teacher.school.createdAt",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "userFilter.users[0].teacher.school.educationalYearEndDate",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "userFilter.users[0].teacher.school.educationalYearStartDate",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "userFilter.users[0].teacher.school.id",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "userFilter.users[0].teacher.school.isActive",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "userFilter.users[0].teacher.school.isDefault",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "userFilter.users[0].teacher.school.logoUrl",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].teacher.school.name",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].teacher.school.updatedAt",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "userFilter.users[0].teacher.schoolName",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].teacher.updatedAt",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "userFilter.users[0].type",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "PARENT",
                            "TEACHER",
                            "SCHOOL_LEADER",
                            "SCHOOL_TEACHER",
                            "SCHOOL_LEADER_ADMIN",
                            "CONTENT_MODERATOR",
                            "SYSTEM_ADMIN"
                        ]
                    },
                    {
                        "name": "userFilter.users[0].updatedAt",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].androidHash",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].coinsReward",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].contentCategory",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].contentName",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].contentThemeId",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].contentType",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].createdAt",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].difficultyLevel",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].educationalConcept",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].id",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].iosHash",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].isAssessment",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].isDeprecated",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].keyword",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].coverageType",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].id",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].attemptCount",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].createdAt",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].id",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].isAnswerCorrect",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].questionProgressStatus",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "PENDING",
                            "COMPLETED"
                        ]
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.avatarImageUrl",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.classEntity.color.hexValue",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.classEntity.color.id",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.classEntity.createdAt",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.classEntity.grade.code",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.classEntity.grade.id",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.classEntity.grade.isActive",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.classEntity.grade.level.code",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.classEntity.grade.level.createdAt",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.classEntity.grade.level.id",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.classEntity.grade.level.textAr",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.classEntity.grade.level.textEn",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.classEntity.grade.level.updatedAt",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.classEntity.grade.level.url",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.classEntity.grade.locales[0].id",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.classEntity.grade.locales[0].locale.id",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.classEntity.grade.locales[0].locale.name",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.classEntity.grade.locales[0].name",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.classEntity.grade.maxAge",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.classEntity.grade.minAge",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.classEntity.grade.name",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.classEntity.id",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.classEntity.isActive",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.classEntity.name",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.classEntity.school.createdAt",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.classEntity.school.educationalYearEndDate",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.classEntity.school.educationalYearStartDate",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.classEntity.school.id",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.classEntity.school.isActive",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.classEntity.school.isDefault",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.classEntity.school.logoUrl",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.classEntity.school.name",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.classEntity.school.updatedAt",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.classEntity.updatedAt",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.createdAt",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.grade.code",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.grade.id",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.grade.isActive",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.grade.level.code",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.grade.level.createdAt",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.grade.level.id",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.grade.level.textAr",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.grade.level.textEn",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.grade.level.updatedAt",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.grade.level.url",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.grade.locales[0].id",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.grade.locales[0].locale.id",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.grade.locales[0].locale.name",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.grade.locales[0].name",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.grade.maxAge",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.grade.minAge",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.grade.name",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.id",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.isActive",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.password",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.profile.avatar",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.profile.coins",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.profile.contentUnlockedInfo",
                        "in": "query",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.profile.createdAt",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.profile.currentStreak",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.profile.dob",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.profile.gender",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.profile.gifts",
                        "in": "query",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.profile.id",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.profile.leaderBoardCampaignList[0].gender",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.profile.leaderBoardCampaignList[0].id",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.profile.leaderBoardCampaignList[0].name",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.profile.leaderBoardCampaignList[0].profileId",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.profile.leaderBoardCampaignList[0].rank",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.profile.leaderBoardCampaignList[0].totalPoints",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.profile.name",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.profile.points",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.profile.timeCollected",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.profile.updatedAt",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.profile.userId",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.school.createdAt",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.school.educationalYearEndDate",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.school.educationalYearStartDate",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.school.id",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.school.isActive",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.school.isDefault",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.school.logoUrl",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.school.name",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.school.updatedAt",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].student.updatedAt",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].teacherComment",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].timeSpent",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].assessmentQuestionStudentProgresses[0].updatedAt",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].evaluationOnline",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].evaluationType",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "ONLINE",
                            "OFFLINE"
                        ]
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].id",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].sequence",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].textAr",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.assessmentQuestions[0].textEn",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.createdAt",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.grade.code",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.grade.id",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.grade.isActive",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.grade.level.code",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.grade.level.createdAt",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.grade.level.id",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.grade.level.textAr",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.grade.level.textEn",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.grade.level.updatedAt",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.grade.level.url",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.grade.locales[0].id",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.grade.locales[0].locale.id",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.grade.locales[0].locale.name",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.grade.locales[0].name",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.grade.maxAge",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.grade.minAge",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.grade.name",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.id",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.status",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "ACTIVE",
                            "INACTIVE"
                        ]
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.textAr",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.textEn",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.type",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "BASELINE",
                            "FORMATIVE"
                        ]
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessment.updatedAt",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessmentOfflineLoProgresses[0].createdAt",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessmentOfflineLoProgresses[0].id",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessmentOfflineLoProgresses[0].questionProgressStatus",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "PENDING",
                            "COMPLETED"
                        ]
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessmentOfflineLoProgresses[0].score",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "INVALID_VALUE",
                            "FAILED",
                            "PARTIALLY_ACHIEVED",
                            "ACHIEVED"
                        ]
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessmentOfflineLoProgresses[0].student.avatarImageUrl",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessmentOfflineLoProgresses[0].student.classEntity.color.hexValue",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessmentOfflineLoProgresses[0].student.classEntity.color.id",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessmentOfflineLoProgresses[0].student.classEntity.createdAt",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessmentOfflineLoProgresses[0].student.classEntity.grade.code",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessmentOfflineLoProgresses[0].student.classEntity.grade.id",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessmentOfflineLoProgresses[0].student.classEntity.grade.isActive",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessmentOfflineLoProgresses[0].student.classEntity.grade.level.code",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessmentOfflineLoProgresses[0].student.classEntity.grade.level.createdAt",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessmentOfflineLoProgresses[0].student.classEntity.grade.level.id",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessmentOfflineLoProgresses[0].student.classEntity.grade.level.textAr",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessmentOfflineLoProgresses[0].student.classEntity.grade.level.textEn",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessmentOfflineLoProgresses[0].student.classEntity.grade.level.updatedAt",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessmentOfflineLoProgresses[0].student.classEntity.grade.level.url",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessmentOfflineLoProgresses[0].student.classEntity.grade.locales[0].id",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessmentOfflineLoProgresses[0].student.classEntity.grade.locales[0].locale.id",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessmentOfflineLoProgresses[0].student.classEntity.grade.locales[0].locale.name",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessmentOfflineLoProgresses[0].student.classEntity.grade.locales[0].name",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessmentOfflineLoProgresses[0].student.classEntity.grade.maxAge",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessmentOfflineLoProgresses[0].student.classEntity.grade.minAge",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessmentOfflineLoProgresses[0].student.classEntity.grade.name",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "userFilter.users[0].userProfiles[0].contentMetaDatas[0].learningObjectiveContents[0].learningObjective.assessmentOfflineLo.assessmentOfflineLoProgresses[0].student.classEntity.id",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
[...]
